.highlight
{
        color:#f7df5b;
        font-weight:bold;
}

.pink
{
        color:#ba8a98;
        font-weight:bold;
}

.blue
{
        color:#536998;
        font-weight:bold;
}

.green
{
        color:#8ad254;
        font-weight:bold;
}

.white
{
        color:white;
}
